extends layout

block content
  link(rel='stylesheet', href='/stylesheets/linegraph.css')
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
  script(src='/scripts/jquery.tipsy.js')
  script(type='text/javascript').
    var graphData = !{graphData};
    var data2 = !{graphData2};
    var beds = !{beds};
    var buildings = !{buildings};
    var buildingsSorted = !{JSON.stringify(buildingSorted)}
    var buildingSortedPerBed = !{JSON.stringify(buildingSortedPerBed)}
  script(src="/scripts/linegraph.js")

  table.centerBlock
    tr
      td
        p#linegraphInfo Buildings Ranked from most to least overall energy usage. Click a building to toggle its line!
    tr
      td
        select#cheese
          each choice, i in choices
            option(value=i, id="yOption", name="selectY") #{choice}
        input(type='submit',value='Change y-axis', id='Apply')
        #linegraph

      td.rankList

        ol#rankListPerBed
          each val, index in buildingSortedPerBed
            li
              label(name="buildingNamePerBed", value=val, index=index, class="rankingToggle rankListPerBed")=val
        ol#rankList
          each val, index in buildingSorted
            li
              label(name="buildingName", value=val, index=index+buildingSorted.length, class="rankingToggle rankListEachBuilding")=val

    tr
      td
        div#selectX
          a Change the x-axis:
          a(href='/linegraph/h', class="buttonX") Hourly
          a(href='/linegraph/d', class="buttonX") Daily
          a(href='/linegraph/w', class="buttonX") Weekly
