extends layout

block content
  link(rel='stylesheet', href='/stylesheets/linegraph.css')
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
  script(src='/scripts/jquery.tipsy.js')
  script(type='text/javascript').
    var graphData = !{graphData};
    var data2 = !{graphData2};
    var buildings = !{buildings};
  script(src="/scripts/testing.js")
  
  table.centerBlock
    tr
      select
        each choice, i in choices
          option(value=i, id="Y-option") #{choice}
    tr
      td
          #linegraph
      td.rankList
          ol
            each val, index in buildingSorted
              li
                label(name="buildingName", value=val, index=index, class="rankingToggle")=val
              

          