extends layout

block content
  link(rel='stylesheet', href='http://onehackoranother.com/projects/jquery/tipsy/stylesheets/tipsy.css')
  link(rel='stylesheet', href='/stylesheets/linegraph.css')
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
  script(src='/scripts/d3.v3.min.js')
  script(src='/scripts/jquery.tipsy.js')

  script(src="/scripts/linegraph.js")
  table.centerBlock
    tr
      td
          #linegraph
      td.rankList
          ol
              li="Everett"
              li="Stanton"
              li="Average"
              li="Beard"
              li="Chapin"

          