extends layout

block content
  link(rel='stylesheet', href='/stylesheets/linegraph.css')
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js')
  script(src='/scripts/jquery.tipsy.js')
  script(type='text/javascript').
    var graphData = !{graphData};
    var data2 = !{graphData2};
    var beds = !{beds};
    var buildings = !{buildings};
    var buildingsSorted = !{JSON.stringify(buildingSorted)}
    var buildingSortedPerBed = !{JSON.stringify(buildingSortedPerBed)}
  script(src="/scripts/linegraph.js")
  
  br
  table.centerBlock
    tr
      td
        select#cheese
          each choice, i in choices
            option(value=i, id="yOption", name="selectY") #{choice}
        input(type='submit',value='Apply Change', id='Apply')  
    tr
      td
        #linegraph
          div#selectX
            a(href='/linegraph/h', class="buttonX") Hourly
            a(href='/linegraph/d', class="buttonX") Daily
            a(href='/linegraph/w', class="buttonX") Weekly
      td.rankList
        ol#rankListPerBed
          each val, index in buildingSortedPerBed
            li
              label(name="buildingNamePerBed", value=val, index=index, class="rankingToggle rankListPerBed")=val
        ol#rankList
          each val, index in buildingSorted
            li
              label(name="buildingName", value=val, index=index+buildingSorted.length, class="rankingToggle rankListEachBuilding")=val
          
              

          